{% extends 'core/base.html' %}


{% block title %}Login User{% endblock title %}

{% block content1 %}
   <div class="container my-5 pt-4">
    <h2 class="text-center">Welcome User</h2>
    <form class="w-50 mx-auto" action="/user/login/" method="post">
        {% csrf_token %}
        <div class="form-group my-3">
          <label for="exampleInputEmail1 my-1">Username</label>
          <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
        </div>
        <div class="form-group my-3">
          <label for="exampleInputPassword1 my-1">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
      {% if messages %}
        <div class="w-50 bg-success mx-auto mt-5 text-center h5 text-white py-2">
          {% for message in messages %}
            <small>{{message}}</small>
          {% endfor %}
        </div>
      {% endif %}
    
   </div>
{% endblock content1 %} 
</body>
</html>