{% extends 'core/base.html' %} {% block title %}Signup User{% endblock title %}
{% block content1 %}
<div class="container my-5 pt-4">
  <h2 class="text-center">Create Account</h2>
  <form class="w-50 mx-auto" action="/user/signup/" method="post">
    {% csrf_token %}
    <div class="form-group my-3">
      <label for="exampleInputEmail1 my-1">Username</label>
      <input
        type="text"
        name="username"
        class="form-control"
        placeholder="Enter Username"
      />
    </div>
    <div class="form-group my-3">
        <label for="exampleInputEmail1 my-1">First Name</label>
        <input
          type="text"
          name="first_name"
          class="form-control"
          placeholder="Enter First Name"
        />
      </div>
      <div class="form-group my-3">
        <label for="exampleInputEmail1 my-1">Last Name</label>
        <input
          type="text"
          name="last_name"
          class="form-control"
          placeholder="Enter LastName"
        />
      </div>
      <div class="form-group my-3">
        <label for="exampleInputEmail1 my-1">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          placeholder="Enter Email"
        />
      </div>
    <div class="form-group my-3">
      <label for="exampleInputPassword1 my-1">Password</label>
      <input
        type="password"
        name="password1"
        class="form-control"
        placeholder="Password"
      />
    </div>
    <div class="form-group my-3">
      <label for="exampleInputPassword1 my-1">Confirm Password</label>
      <input
        type="password"
        name="password2"
        class="form-control"
        placeholder="Confirm Password"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
{% endblock content1 %}
