{% extends 'core/base.html' %}


{% block title %}{{title}}{% endblock title %}

{% block staticfiles %}
    <style>
        .image-box {
            height: 200px;
        }
        .image-box .image {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock staticfiles %}

{% block content1 %}

    <div class="container pt-4">
        <h2 class="text-center">{{title}}</h2>
        <div class="row my-4">
            
            {% for post in page_object %}
                <div class="col-lg-3 col-sm-6 col-md-4 my-2" enctype="multipart/form-data">
                    
                    <div class="image-box">
                        <img class="img-fluid image" src="{{post.image.url}}" alt="Not Found">
                    </div>
                    <h4 class="mt-2">{{post.title}}</h4>
                    <p>{{post.description|truncatechars:120}}
                        <a href="/posts/{{post.id}}">read more</a>
                    </p>
                </div>
            {% endfor %}
            {% if count == 0 %}
                <div class="container bg-warning text-center w-50 mx-auto mt-5">
                    <h3>You do not have created any post yet.</h3>
                </div>
            {% else %}
                <div class="d-flex align-items-center justify-content-center pb-4">
                    {% if page_object.has_previous %}
                        <a class="px-2 btn-outline-info btn" href="?page={{page_object.previous_page_number}}">Previous</a>
                    {% endif %}
                    <span class="px-3 btn btn-outline-success mx-2">{{page_object.number}}</span>
                    {% if page_object.has_next %}
                        <a class="px-2 btn-outline-info btn" href="?page={{page_object.next_page_number}}">Next</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div> 
    
{% endblock content1 %}
