{% extends 'core/base.html' %}


{% block title %}{{title}}{% endblock title %}

{% block content1 %}
    <div class="container my-5 pt-4">
        <h2 class="text-center">{{title}}</h2>

        <form class="w-50 mx-auto my-3" action="/posts/create/" method="POST" enctype="multipart/form-data">
            <div class="form-group my-3">
              <label for="exampleFormControlInput1">Title</label>
              <input type="text" class="form-control my-1" name="title" value="{{post.title}}" placeholder="Enter Title">
            </div>
            
            <div class="form-group my-3">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control my-1" name="description" rows="8" style="resize: none;">{{post.description}}</textarea>
            </div>
            {% if post.image.url and post.id %}
              <div class="my-3" style="height: 250px">
                <img class="w-100 h-100" src="{{post.image.url}}" alt="">
              </div>
              <input type="hidden" value={{post.id}} name="post-id">
            {% endif %}

            <div class="custom-file d-flex justify-content-between">
              <label class="custom-file-label" for="image">Choose Post Image</label>
              <input type="file" class="custom-file-input" name="image">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>
    </div>
    
{% endblock content1 %}