{% extends 'core/base.html' %}


{% block title %}{{page.title}}{% endblock title %}

{% block staticfiles %}

    <style>
        .image-box {
            height: 500px;
        }
    </style>
{% endblock staticfiles %}

{% block content1 %}
    <div class="container my-5 pt-4">
        <div class="d-flex align-items-center justify-content-between">
            <h1>{{page.title}}</h1>

            {% if author == page.user.id %}
                <div class="d-flex">
                    <form action="/posts/edit/{{page.id}}" method="GET">
                        <button class="btn btn-success mx-1" type="submit">Edit</button>
                    </form>
                    <form action="/posts/delete/{{page.id}}" method="DELETE">
                        <button class="btn btn-danger mx-1" type="submit">Delete</button>
                    </form>  
                </div>
                {% if message %}
                    {{message}}
                {% endif %}
            {% endif %}
            
        </div>
        <div class="image-box my-4">
            <img class="img-fluid w-100 h-100" src="{{page.image.url}}" alt="Not Found">
        </div>
        <p class="pb-5">{{page.description}}</p>
    </div>

{% endblock content1 %}