<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    {% block staticfiles %}{% endblock staticfiles %}
  </head>
  <body>
    <header class="container mb-5">
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between px-3 fixed-top"
      >
        <div>
          <a class="navbar-brand" href="#">Crud Post</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'my posts' %}">My Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'all posts' %}">All Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create post' %}">Create Post</a>
            </li>
          </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
            {% if not request.user.is_authenticated %}
              <a class="btn btn-outline-success" href="{% url 'signup' %}">Signup</a>
              <a class="btn btn-outline-success" href="{% url 'login' %}">Login</a>
            {% endif %}
            
            
            {% if request.user.is_authenticated %}
              <span class="h5 me-3">{{request.user.username}}</span>
              <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </form>
      </nav>
    </header>
    {% block content1 %}{% endblock content1 %}
  </body>
</html>
